* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
}

h1, h2 {
  font-family: 'Monoton', sans-serif;
  letter-spacing: 2px;
}

b {
  color: #4c1594;
  font-weight: 600;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.099);
  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #bc89ff;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #bc89ff;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Intro */
.intro {
  height: 100vh;
  background: url("https://wallpapercave.com/wp/wp5080939.jpg") no-repeat center center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.intro-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.493);
  top: 0;
  left: 0;
}

.intro-content {
  position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeUp 1.2s ease forwards;
}

.intro-content h1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.intro-content h2 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-top: -10px;
  color: #bc89ff;
  letter-spacing: 3px;
}

.intro-subtitle {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #d0d0d0;
}

/* Botão Intro */
.intro-btn {
  display: inline-block;
  margin-top: 60px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.intro-btn:hover {
  color: #bc89ff;
  border-color: #bc89ff;
  transform: translateY(5px);
}

/* Sobre */
.sobre {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

.sobre-container {
  max-width: 900px;
  text-align: center;
  color: #4c1594;
}

.sobre-container h2 {
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.sobre-container p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #000000;
  text-align: justify;
}

.lista-categorias {
  margin: 30px auto;
  padding: 0;
  max-width: 500px;
  list-style: none;
}

.lista-categorias li {
  padding: 12px 15px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-left: 5px solid #4c1594;
  color: #000000;
  font-size: 1rem;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Destaques (AJAX) */
.destaques {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

.destaques-container {
  max-width: 900px;
  text-align: center;
  color: #4e3c3c;
}

.destaques-container h2 {
  margin-top: 40px;
  font-size: 2.6rem;
  margin-bottom: 30px;
  color: #4c1594;
}

#destaque-conteudo img {
  max-width: 300px;
  margin: 30px auto; 
  display: block;  
  border-radius: 10px;
  box-shadow: 0 15px 30px #4c15947e;
}

/* Botão */
.destaque-btn {
  margin-top: 40px;
  padding: 12px 30px;
  color: #4c1594;
  background: transparent;
  border: 2px solid #4c1594;
  cursor: pointer;
  transition: all 0.3s ease;
}

.destaque-btn:hover {
  background: #4c1594;
  color: #fff;
}

/* Page Indicados */
.page-indicados {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?auto=format&fit=crop&w=1600&q=80") center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.page-indicados-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.page-indicados-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.page-indicados-content h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-top: -150px;
}

.page-indicados-content p {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #ccc;
  text-align: center;
}

/* Indicados */
.indicados-container {
  max-width: 1200px;
  margin: auto;
}

.categoria {
  margin-bottom: 80px;
}

.categoria h2 {
  margin-top: 60px;
}

.categoria h2 {
  font-family: 'Monoton', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Cards*/
.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  color: #f4f4f4;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card span {
  display: block;
  padding: 15px;
  font-weight: 600;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px #4c1594;
}

/* Tabela */
.tabela-indicados {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.tabela-indicados th,
.tabela-indicados td {
  padding: 15px;
  border-bottom: 1px solid #333333;
  text-align: left;
}

.tabela-indicados th {
  color: #c395ff;
}

.tabela-indicados tr:hover {
  background: rgba(195, 149, 255, 0.14);
}

/* Page Vencedores */
.page-vencedores {
  height: 100vh;
  background: url("https://wallpapercave.com/wp/wp5080943.jpg") no-repeat center center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.page-vencedores-content {
   position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeUp 1.2s ease forwards;
}

.page-vencedores-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.493);
  top: 0;
  left: 0;
}

.page-vencedores-content h1 {
  font-size: 4rem;
  color: #ffffff;
  margin-top: -150px;
}

.page-vencedores-content p {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #ffffff;
}

/* Vencedores */
.vencedores {
  padding: 100px 20px;
  background-color: #ffffff;
}

.vencedores-container {
  max-width: 1100px;
  margin: auto;
}

.vencedor {
  margin-bottom: 80px;
}

.vencedor h2 {
  font-size: 2rem;
  color: #4c1594;
  margin-bottom: 30px;
}

/* Card vencedor */
.vencedor-card {
  display: flex;
  gap: 30px;
  background: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px #bc89ff50;
}

.vencedor-info {
  padding: 30px;
}

.vencedor-info h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #000;
}

.vencedor-info p {
  color: #000000;
  line-height: 1.7;
  text-align: justify;
}

.vencedor-card img {
  width: 300px;
  height: 300px; 
  object-fit: cover;
  flex-shrink: 0;
}

/* Página Votação */
.page-votacao {
  height: 100vh;
  background: url("https://img.freepik.com/fotos-premium/um-monitor-de-computador-com-um-fundo-roxo-e-uma-luz-roxa-a-esquerda_1024536-1085.jpg?semt=ais_hybrid&w=740&q=80") no-repeat center center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.page-votacao-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.page-votacao-content {
  position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeUp 1.2s ease forwards;
}

.page-votacao-content h1 {
  font-size: 4rem;
  color: #ffffff;
  margin-top: -150px;
}

.page-votacao-content p {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #ffffff;
}

/* Formulário de Votação */
.votacao {
  background-color: #f4f4f4;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.votacao-container {
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transition: all 0.4s ease; 
}

.votacao-container:hover {
  transform: scale(1.03);   box-shadow: 0 25px 50px rgba(76, 21, 148, 0.4); 
}

.votacao-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.votacao-container label {
  font-weight: 600;
  color: #4c1594;
}

.votacao-container input,
.votacao-container select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.votacao-container input:focus,
.votacao-container select:focus {
  border-color: #4c1594;
  box-shadow: 0 0 5px #bc89ff50;
}

.votacao-container button {
  padding: 12px 20px;
  background-color: transparent;
  color: #4c1594;
  font-weight: bold;
  border: 2px solid #4c1594;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.votacao-container button:hover {
  background-color: #4c1594; 
  color: #fff; 
  transform: translateY(-2px); 
}

/* Mensagem de resposta */
#resposta-voto {
  font-size: 1rem;
  color: #000;
  text-align: center;
}

/* Página Oficial */
.pagina-oficial {
  min-height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 20px 80px;
}

.pagina-oficial-container {
  max-width: 800px;
  text-align: center;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
}

.pagina-oficial-container h1 {
  color: #4c1594;
  margin-bottom: 30px;
}

.pagina-oficial-container img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.pagina-oficial-container p {
  color: #000000;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: justify;
}

.pagina-oficial-link {
  padding: 12px 20px;
  background-color: transparent;
  color: #4c1594;
  font-weight: bold;
  border: 2px solid #4c1594;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagina-oficial-link:hover {
  background-color: #4c1594; 
  color: #fff; 
  transform: translateY(-2px); 
}

/* Rodapé */
.rodape {
  background-color: #2b0044;
  color: #fff;
  padding: 20px;
}

.rodape-conteudo {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

/* Animações */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fbfbfb;
}

::-webkit-scrollbar-thumb {
  background: #4c1594;
  border-radius: 10px;
}

/* Responsivo*/
@media (max-width: 768px) {
  .intro-content h1 {
    font-size: 3rem;
  }

  .intro-content h2 {
    font-size: 3.2rem;
  }

  .nav-links {
    gap: 15px;
  }
}
